@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

/*
Theme Name: CULTURE.ONE
Theme URI: http://themes.chooo.media
Author: Christopher Matt
Description: Theme developed for O3 CMS, customizable, simple, and readable. Perfect fitting Webdesign for Event, Restaurant and Artistwebsites. 
Tags: 3 column theme, white, green clean
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
	background: #fff;
    overflow: visible;
    overflow-y: scroll;
    overflow-x: hidden;
	letter-spacing: -0.8px;
}

body.is-loading * {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

body, input, textarea, select {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: #5A7E90;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
	border: 0;
}
[data-balloon]::after {
	font-size: 16px !important;
}

a {
	color: #e3eaed;
	font-weight: 500;
	-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    text-decoration: none;
}

a strong {
	-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
}

a:hover {
	color: #ff8800;
	border-bottom-color: rgba(255,255,255,0);
}

a:hover strong {
	color: #A6BBC4;
}

strong, b {
	font-weight: 600;
	color: #FF8800;
}

em, i {
	font-style: italic;
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

hr {
	border: 0;
	border-top: solid 1px #ddd;
}

blockquote {
	border-left: solid 0.5em #ddd;
	padding: 1em 0 1em 2em;
	font-style: italic;
}

p {
	text-align: justify;
    letter-spacing: .5px;
}

p, ol, dl, table, blockquote {
	margin-bottom: 2em;
}

br.clear {
	clear: both;
}

/* Sections/Article */

section > :last-child, article > :last-child {
	margin-bottom: 0;
}

section p {
	background: #fff;
	padding: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*********************************************************************************/
/* Images                                                                        */
/*********************************************************************************/

.image {
	display: inline-block;
	border: solid 6px #fff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}

a.image:hover {
	opacity: 0.9;
}

.image img {
	display: block;
	width: 100%;
}

.image.fit {
	display: block;
	width: 100%;
}

.image.featured {
	display: block;
	width: 100%;
}

.image.left {
	float: left;
	margin: 0 1.5em 1.5em 0;
	position: relative;
	top: 0.5em;
}

.image.centered {
	display: block;
	margin: 0 0 2em 0;
}

.image.centered img {
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Types                                                                    */
/*********************************************************************************/

ul {
}

ul.default {
	list-style: disc;
	margin-left: 1em;
}

ul.default li {
	padding-left: 0.5em;
	margin: 0.75em 0 0.75em 0;
}

ul.default li:first-child {
	margin-top: 0;
}

ul.links {
	list-style: decimal;
    margin-left: 0px;
    padding: .45em 0 0 0;
}

ul.links li {
	display: inline;
	padding-left: 1em;
	margin-left: 1em;
}

ul.links li:first-child {
	margin-left: 0;
	padding-left: 0;
}

ul.actions {
	margin-top: 2.5em;
	clear: both;
}

ul.divided {
}

ul.divided li {
	border-top: solid 2px #e5e5e5;
}

ul.divided li:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

ul.icons {
	color: #E3EAED;
}

ul.icons > li {
	position: relative;
	padding: 2em 0 0 3em;
	text-align: left;
}

ul.icons > li:before {
	position: absolute;
	left: 0;
	top: 2em;
	display: block;
	background: #4C575D;
	width: 1.65em;
	height: 1.65em;
	border-radius: 1.65em;
	line-height: 1.65em;
	text-align: center;
	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
}

.footer ul.icons text  {
	text-align: left;
}

ul.icons > li:first-child {
	padding-top: 0;
}

ul.icons > li:first-child:before {
	top: 0;
}

ul.icons a {
	color: #e3eaed;
	font-weight: 800;
	text-decoration: none;
	transition: color .3s;
}

ol {
}

ol.default {
	list-style: decimal;
	margin-left: 1em;
}

ol.default  li {
	padding-left: 0.5em;
	margin: 0.75em 0 0.75em 0;
}

ol.default  li:first-child {
	margin-top: 0;
}

/*********************************************************************************/
/* Forms                                                                         */
/*********************************************************************************/

label > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
	cursor: pointer;
}
label > input + i{ /* IMAGE STYLES */
	cursor: pointer;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	transition: all 0.5s;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

label > input:checked + i{ /* (RADIO CHECKED) IMAGE STYLES */
	transition: all 0.5s;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.fa-sofort {
	width: 180px;
	height: 55px;
	background: url("../images/cultureandpeople-sofort-ueberweisung-logo.png") no-repeat center center;
	background-size: cover;
}
.fa-checking {
    width: 55px;
    height: 55px;
    background: url("../images/basketPaymentCheck.png") no-repeat center center;
    background-size: cover;
}

.rotateRadio {
	-webkit-transition-duration: .8s;
	-moz-transition-duration: .8s;
	-o-transition-duration: .8s;
	transition-duration: .8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	outline: 0;
}
form {
	padding: 5px;
	margin: -6px 0 -5px 0;
}

form label {
	font-weight: 600;
	text-transform: uppercase;
	color: #888;
	display: block;
	margin: 0 0 .5em 0;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select, form textarea {
	/*-webkit-appearance: none;*/
	border:0;
	box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.3);
	border-radius: 4px;
	-moz-transition: background-color 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out;
	-ms-transition: background-color 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out;
	padding: .25em .8em;
}

.loginForm input[type="text"], input[type="password"] {
	padding: .25em .25em !important;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form select:focus, form textarea:focus {
	background: #CCCCCC;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: text-indent 0.4s 0.4s ease;
	text-indent: -100%;
	opacity: 1;
}
input:focus::-webkit-input-placeholder {
	transition: text-indent 0.4s 0.4s ease;
	text-indent: -100%;
	opacity: 1;
}

form .inputBig {
    line-height: 2em !important;
    font-size: 1em;
    padding: .5em;
    margin: 1em 0;
}

form textarea {
	min-height: 11em;
}

form .formerize-placeholder {
	color: #555 !important;
}

form ::-webkit-input-placeholder {
	color: #555 !important;
	line-height: 1.35em;
}

form :-moz-placeholder {
	color: #555 !important;
}

form ::-moz-placeholder {
	color: #555 !important;
}

form :-ms-input-placeholder {
	color: #555 !important;
}

form ::-moz-focus-inner {
	border: 0;
}

/*********************************************************************************/
/* Tables                                                                        */
/*********************************************************************************/

table {
	width: 100%;
	color: #000;
}

table.default {
	width: 100%;
}

table.default  tbody tr {
	border-top: solid 1px #E5E5E5;
}

table.default  tbody tr:first-child {
	border-top: 0;
}

table.default  td {
	padding: 0.75em 1em 0.75em 1em;
}

table.default  th {
	text-align: left;
	font-weight: bold;
	padding: 0.75em 1em 0.75em 1em;
}

table.default  thead {
	background: #4C575D;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	border: 0;
	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
}

table.default  tfoot {
	background: #F0F0F0;
	border-top: solid 2px #E5E5E5;
}

table.default  tbody {
}

/*********************************************************************************/
/* Buttons                                                                       */
/*********************************************************************************/

input[type="button"], input[type="submit"], input[type="reset"], .button {
	-webkit-appearance: none;
	position: relative;
	background: #83a0ac;
	color: #fff !important;
	text-transform: uppercase;
	border-radius: 4px;
	border: 0;
	outline: 0;
	font-size: 1em;
	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
	font-weight: 600;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	text-align: center;
}

.button.icon:before {
	position: relative;
	padding-right: 0.75em;
	opacity: 0.5;
	top: 0.05em;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .button:hover {
	background: #4C575D;
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, .button:active {
	background: #BDD600;
}

input[type="button"].alt, input[type="submit"].alt, input[type="reset"].alt, .button.alt {
	background: #4C575D;
}

input[type="button"].alt:hover, input[type="submit"].alt:hover, input[type="reset"].alt:hover, .button.alt:hover {
	background: #979797;
}

input[type="button"].alt:active, input[type="submit"].alt:active, input[type="reset"].alt:active, .button.alt:active {
	background: #4C575D;
}


/*********************************************************************************/
/* Preloader                                                                     */
/*********************************************************************************/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image: url("../images/status.gif"); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.social {
    position: sticky;
    top: 0;
    float: right;
}

.social a {
    float:left;
	background: url(../images/headerElementSocial_.png) repeat-x;
	background-position: center top;
	width: 30px;
	height: 50px;
	padding: 10px .5em;
	text-decoration: none;
}

.social a:hover {
    color: #FF8800;
}

.menuButton {
	background: #FF8800;
	width: 14.12%;
	line-height: 35px;
	border-radius: 4px;
	border: 0 !important;
	color: #5c7d8b;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	-webkit-border-bottom-right-radius: 16px;
	-moz-border-radius-bottomright: 16px;
	border-bottom-right-radius: 16px;
}

.menuButton:hover {
    transition: all .5s;
    background: #FFF;
    color: #000;
}

.scale {
    transform: scale(2);
}

.loginIcon {
	clear: both;
	padding-right: 10%;
}

.rowCat {
	height: 510px;
	overflow: hidden;
	padding-bottom:40px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.moreCat {
	overflow: visible;
	height: auto;
}

#moreButton, .basketButton, #imgButton {
    padding: 1em 2em;
}

.basketButton {
    font-size: 81% !important;
}
.basketInput {
    text-transform: uppercase;
    border-radius: 4px;
    outline: 0;
    font-size: 1.4em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125) !imporant;
}
.userMoreButton {
    font-size: 18px;
    line-height: 23px;
    background: #5A7E90;
    padding: 1px .5em;
    margin: 2px 1em;
    float: right;
    border-radius: 8px;
}

.basketSelect {
    margin-top: .04em;
    margin-right: 1em;
    text-transform: uppercase;
    border-radius: 4px;
    outline: 0;
    font-size: 1.73em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125) !imporant;

}

.deleteButton {
	background: #5A7E90;
	color: #fff;
	border: none;
	line-height: 25px;
	box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.3);
	border-radius: 4px;
    cursor: pointer;
}

.profilePic {
    padding: .5em;
    background: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
	border-radius: 16px;
}
.eventProfile img {
    margin-top: 3px;
}
.eventProfilePic {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.paddLeftMobile {
    padding: 0 !important;
}
.paddLess {
	padding: 0 !important;
}
.paddMore {
    padding: 0 0 0 50px;
}
.paddText {
    padding: 0 0 0 50px;
}
.paddTopRight {
    padding: 20px 0 0 50px !important;
}
.paddLeft {
	padding: 0 0 0 1em;
}
.paddRight {
    padding: 0 .35em 0 0;
}
.paddRightCat {
    margin: 0 2em 0 0;
    padding: 0 !important;
}
.paddRightCat:last-child {
    padding: 0;
}
.paddDesk {
     padding: 50px 0 0 50px;
 }
.paddLeftMore {
	padding: 0 1.625em;
}
.margLess {
	margin: 0 !important;
}
.margLeft {
	margin-left: 1.5em;
}

.margBottom {
    margin: 0px 0 10px 0;
}
.paddForm {
    padding: 20px 0 -20px 0;
}

.headerLogin {
	line-height: 50px;
	background: #5C7D8B;
    -webkit-border-bottom-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    float:left;
}

.headerUser {
    color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.headerUser a {
    text-decoration: none;
}

.headerUser > div {
    float:left;

}

.clicked {
    height: 0 !important;
    overflow: hidden;
}

/*********************************************************************************/
/* Box                                                                           */
/*********************************************************************************/

.box {
}

.highLightLink {
    color: #FF8800;
    font-weight: 800;
}

.errorRow p{
    text-align: center;
    font-weight: 800;
    letter-spacing: .6px;
}

.basketCount {
    border-radius: 3px;
    margin: -30px 0 2px 11px;
    width: auto;
    padding: .1em .13em 0 .1em;
    height: 12px;
    background: #FF8800;
    color: #FFF;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    float: left;
    text-align: center;
    animation-duration: 2.3s;
    animation-name: baskettrigger;
    animation-iteration-count: infinite;
}

@keyframes baskettrigger {
    0% {
        transform: scale(1.0);
      }
    50% {
        transform: scale(1.6);
            }
    75% {
        transform: scale(1.25);
      }
    100% {
              transform: scale(1.15);
            }
    }

.descriptSpan {
	background: #FF8800;
	font-family: arial;
	width: 40px;
	height: 40px;
	font-size: 20px;
	border-radius: 25%;
	color: #fff;
	padding: 5px 7px;
	text-decoration: none !important;
}
td .descriptSpan {
	font-size:90% !important;
	font-weight: 600;
	height:30px;
	width: 30px;
}

.descriptSpan:empty {
	display: none;
}

.highlight {
	background: #E3EAED;
	box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
	border-radius: 4px;
	line-height: 32px;
	font-size: 20px;
	letter-spacing: .6px;
	padding: 1em;
	text-align: center;
	margin-bottom: 2em;
}
.highlightEventBasket {
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-radius-bottomright: 16px;
    border-bottom-right-radius: 16px;
	background: #5A7E90;
	font-size: 24px;
	color: #fff;
	letter-spacing: .6px;
	padding: .55em 1em;
	text-align: center;
    margin-top: -5px !important;
}
.linkThreeAngle {
	width: auto;
	height: auto;
	margin: 0 auto;
	background: url("../images/linkThreeAngle.png") center bottom no-repeat;
}

.moreButtonEvent {
    background: #5A7E90;
    color: #fff;
    padding: .25em .5em;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: none;
    cursor: pointer;
}

.eventInfo {
	height: 11.375em;
	margin-top: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}

.eventInfoMore {
    height: 34.1em;
	overflow: visible;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}
.onlyMobile {
    display: none;
}
.floatMobile {
    float:right;
}
.eventInfoMoreArea {
    margin-top: -2em;
    background: url(../images/eventButtonMoreArea.png) repeat-x center center;
    background-size: cover;
}
.eventBasketShare {
    font-size: 18px;
    text-align: center;
    margin: 0 .5em;
    width:24px;
    padding: 0;
    float:right;
}
.eventCategory header h3 a {
    padding: 0 .6em 0 0;
}

.eventInfoBasketPrice {
	width: 10em;
	line-height: .7em;
	background: #fff;
	padding: 1.2em 1em;
	margin: -.3em -1em 0 -9.3em !important;
	font-weight: 600;
}
.eventBasketShareCat{
    font-size: 18px;
    text-align: center;
    margin: 0 .5em;
    width:24px;
    padding: .8em 0 !important;
}
.cat-img-3u a h3:hover{
   color: #FF8800;
    transition: all .5s;
}

.highlightEvent {
	line-height: 1.625em;
	font-size: 21px;
	letter-spacing: -.5px;
	padding: 0 0 0 50px;
}
.highlightEvent header h3 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    margin: 0 !important;
}

.highlightHeart {
    margin: 20px auto -15px auto;
	font-size: 30px;
	height: 30px;
	animation-duration: .9s;
	animation-name: iconScale;
	animation-iteration-count: infinite;
}

@keyframes iconScale {
  0% {
          font-size: 30px;
      }
      50% {
          font-size: 40px;
      }
      100% {
          font-size: 30px;
      ;
      }
}

.highlightIconStart {
    margin: 20px auto -10px auto;
	font-size: 40px;
}

.highlightIcon {
    margin: 20px auto -10px auto;
	font-size: 40px;
}

.highlightIconBig {
    margin: 0 auto;
    font-size: 100px;
    padding: 30px 0;
}

.highlightIconOrange {
    color: #ff8800;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px;
	font-size: 100px;
	padding: .2em;
	text-align: center;
}

.highlightIconBoxAni {
    color: #ff8800;
    animation-duration: 2s;
    animation-name: iconAnimation;
    animation-iteration-count: infinite;
}

@keyframes iconAnimation {
    0% {
        transform: scale(0.4);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(0.4);
    }
}


.hightlightIconRotate {
    width: 50px;
    font-size: 50px;
    bottom: -14px;
    margin: 25px auto 0 auto;
    animation-duration: 5s;
    animation-name: iconRotate;
    animation-iteration-count: infinite;
}

@keyframes iconRotate {
    from {
        transform: rotate(0)
      }
      to {
        transform: rotate(360deg)
      }
    }
}

.highlightIconImg {
    margin-bottom: -20px;
}

#highlightCol header {
    text-align: center;
    height:100px;
}

#highlightCol footer {
    text-align: center;
    margin: 1em 0;
}

#highlightCol section {
    margin: -25px 0 0 0 !important;
    line-height: 25px;

}

.box.excerpt {
}

.box.excerpt .date {
	background: #4C575D;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 4px;
	border: 0;
	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
}

/*********************************************************************************/
/* Userlogin & Register                                                          */
/*********************************************************************************/

.register  {
	margin: 6px;
	color: #fff !important;
	font-size: 16px;
	overflow: hidden;
	color: #5a7e90;
	transition: all .5s;
}

.register a{
	color: #ff8800 !important;
	text-decoration: none;
	font-weight: 800;
}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

.icon {
	    position: relative;
        text-decoration: none;
        text-align: center;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper {
	margin: 0 0;
	width: 100%;	
	z-index: 99999;
}

#header-wrapper.smaller {
    height: 75px;
}

.mobileHome {
    display: none;
}

#header-wrapper p {
	text-align: center;
}

#banner-wrapper {
	position: relative;
	overflow: hidden;
	background: #fff;
	color: #fff;
	text-align: center;
	/*box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5, inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;*/
}

#banner-wrapper .inner {
	background: #83a0ac;
}

#banner-wrapper p {
	text-align: center;
}

#features-wrapper {
	background: transparent;
}

#features-wrapper p {
	text-align: center;
	text-align: justify;
    text-justify: inter-word;
}

#features-wrapper .actions {
	margin-top: 1.25em;
}

#main-wrapper:before {
    margin-top: 50px;
}

#main-wrapper:after {
	background: #fff;
}

.footerIcon a {
	text-align: left !important;
}

.footerIcon a:hover /*+ #footer ul.icons li:before*/ {
    color: #FF8800 !important;
    transition: .5s;
}

#footer ul.icons li {
	line-height: 2em;
}

#footer-wrapper {
	background: #5A7E90;
	padding: .1em 0;
}

#footer-wrapper form input[type="text"], #footer-wrapper form input[type="email"], #footer-wrapper form input[type="password"], #footer-wrapper form select, #footer-wrapper form textarea {
	background: #f7f7f7;
}

#footer-wrapper form input[type="text"]:focus, #footer-wrapper form input[type="email"]:focus, #footer-wrapper form input[type="password"]:focus, #footer-wrapper form select:focus, #footer-wrapper form textarea:focus {
	background: #fff;
}

#footer-wrapper h2 {
	margin-bottom: 31px;
	text-align: center;
	text-transform: uppercase;
}

#footer {
	color: #E3EAED !important;
	margin-top: 1.65em;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
	height: 40px;
	background: #83a0ac;
	transition: all 0.5s ease-out;
}

.headerToggle {
    margin-top: -44px;
    margin-bottom: -44px;
}

#header h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color: #BDD600;
	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
	display: block;
	text-align: center;
}

#header h1 a {
	border: 0;
}

#header p {
	text-transform: uppercase;
	font-weight: 400;
	color: #888;
}

.headerTitle {
	font-size: 0.8em;
	letter-spacing: normal;
}

.logoFix {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background: #FFF;
	padding: .4em;
	margin-top: 5px;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-top-left-radius: 16px;
	-moz-border-radius-topright: 16px;
	-moz-border-radius-topleft: 16px;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	transition: all .5s;
}

.logoFix img {
	width: 100%;
	max-height: auto;

}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
    width: 100%;
	cursor: default;
	margin: 0 auto;
}

.rightNav {

    right: 30px;
}

#nav > ul > li {
}

#nav > ul > li > a {
	border: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	color: #E3EAED;
	outline: 2;
}

#nav > ul > li > a:before {
	display: inline-block;
	background: #4C575D;
	color: #4C575D;
	width: 1.65em;
	height: 1.65em;
	border-radius: 1.65em;
	line-height: 1.65em;
	text-align: center;
	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
	margin-right: 0.75em;
	-moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}

.navAdmin ul {
	width: 100%;
	height: 1.8em;
}

.navAdmin ul  li{
	padding: .35em;
	margin-right: 10px;
	float:left;
}

.navAdmin  ul  li  a{
	color: #000;
	height: 1.45em;
	float: left;
	font-size: 18px;
}

#nav > ul > li > a > span {
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

#nav > ul > li.active, #nav > ul > li:hover {
    color: #FF8800;
}

#nav > ul > li.active > a, #nav > ul > li:hover > a {
    color: #FF8800;
}

#nav > ul > li.active > a:before, #nav > ul > li:hover > a:before {
	background: #A6BBC4;
	color: #fff;
}

#nav > ul > li.active > a > span, #nav > ul > li:hover > a > span {
	color: #FF8800;
}

/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/

#features {
    display: block;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

.cat-img {
	background: url("../images/category/2.jpg") repeat center center;
	background-size: cover;
	min-height: 26.03em;
}

.cat-img-3u {
	padding-top: 0px !important;
	min-height: 11.59em;
	margin-bottom: 0 !important;
}
.cat-img-3u-single {
    padding-top: 0px !important;
	height: 25.8em;
    margin-bottom: 0 !important;
	transition: all .6s;
}
.cat-img-3u-single header h3 {
    max-width: 550px;
    font-size: 16px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    float:left;
    margin: 2em 0 0 0;
    padding: 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cat-img-3u-single-max {
	height: 53.7em;
	transition: all .6s;
}

section .cat-img-3u:nth-child(4n+3) {
	margin-bottom: 50px !important;
}

.selected {
	display: inline;
}

.cat-img header h3, .cat-img-3u header h3 {
    max-width: 178px;
	height: 54px;
    font-size: 16px;
	font-weight: 900;
	color: #000;
	text-transform: uppercase;
	background-color: #fff;
	float:left;
	margin: 2em 0 0 0;
    padding: 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cat-img footer h3, .cat-img-3u footer h3, .cat-img-3u-single footer h3{
	height: 49px;
	font-size: 21px;
	color: #83a0ac;
	background-color: #fff;
	padding: .5em 1.2em;
	float: right;
}
.cat-img footer h3 {
    margin-top: 15em;
}

.spacer {
	margin: 0 0 8em 0;
}

#banner {
	position: relative;
	text-transform: uppercase;
}

#banner p {
	font-weight: 400;
}

#banner strong {
	color: inherit;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

#content > section, #content > article {
	border-top: solid 2px #e5e5e5;
	box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

#content > section:first-child, #content > article:first-child {
	border-top: 0;
	box-shadow: none;
}

/*********************************************************************************/
/* Calendar                                                                      */
/*********************************************************************************/

.title {
    font-size: 20px;
}

.calendarContent tr:nth-child(2n+3) {
    background: #E3EAED;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

#sidebar > section, #sidebar > article {
	border-top: solid 2px #e5e5e5;
	box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

#sidebar > section:first-child, #sidebar > article:first-child {
	border-top: 0;
	box-shadow: none;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
	border-top: dashed 2px #4C575D;
	text-align: center;  }

/*********************************************************************************/
/* Category & Event Flip Effekt                                                  */
/*********************************************************************************/

.hovereffect {
	overflow: hidden;
    text-align: center;
	cursor: pointer;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}



/*********************************************************************************/
/* Password Ability Checker                                                      */
/*********************************************************************************/

#pwindicator {
	margin-top: .5em;
	margin-bottom: -1em;
}

.bar {
	width: 100%;
	height: .5em;
}

.pw-very-weak .bar {
	background: #d00;
	width: 20%;
}

.pw-very-weak .label {
	color: #d00;
}

.pw-weak .bar {
	background: #d00;
	width: 40%;
}

.pw-weak .label {
	color: #d00;
}

.pw-mediocre .bar {
	background: #f3f01a;
	width: 60%px;
}

.pw-mediocre .label {
	color: #f3f01a;
}

.pw-strong .bar {
	background: #f3b31a;
	width: 80%;
}

.pw-strong .label {
	color: #f3b31a;
}

.pw-very-strong .bar {
	background: #0d0;
	width: 100%;
}

.pw-very-strong .label {
	color: #0d0;
}