/*
Theme Name: CULTURE.ONE
Theme URI: http://themes.chooo.media
Author: Christopher Matt
Description: Theme developed for O3 CMS, customizable, simple, and readable. Perfect fitting Webdesign for Event, Restaurant and Artistwebsites. 
Tags: 3 column theme, white, green clean
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 960px;
	}

	body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 12pt;
	}

	h2
	{
		margin: 0 0 1em 0;
		font-size: 1.5em;
	}

	h3
	{
		margin: 0 0 1em 0;
	}

	h2 br, h3 br, h4 br, h5 br, h6 br
	{
		display: none;
	}

	/* Image */

		.image
		{
		}

			.image.featured
			{
				margin: 0 0 2.5em 0;
			}
			
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
	}

	#features-wrapper
	{
		padding: 1em 0;
	}
	
	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
		padding: 1em 0;
	}
	
	#footer-wrapper
	{
		padding: 1em 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

		#header h1
		{
			font-size: 2em;
		}
		
		#header p
		{
			margin: 1.5em 0 0 0;
		}

        .headerLogin {
            line-height: 49px;
            background: #5C7D8B;
            -webkit-border-bottom-right-radius: 16px;
            -webkit-border-bottom-left-radius: 16px;
            -moz-border-radius-bottomright: 16px;
            -moz-border-radius-bottomleft: 16px;
            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;
        }


/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul > li
		{
			padding-right: 1.25em;
		}
/*********************************************************************************/
/* Buttons                                                                           */
/*********************************************************************************/
    #moreButton {
        padding: .5em 1em;
        top: 30px;
    }

    .social {
        top: 0;
        float: right;
       }
       .social a {
       width: 24px;
       padding: 10px 0;
       }
    .menuButton {
       width: 13.5%
    }
    #nav > ul > li:first-child {
        padding-left: 2.5em;
    }
    #nav > ul > li {
        padding-right: 1em;
    }
    #nav > ul > li > a {
        font-size: 70%;
    }

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	.spacer {
	margin: 0 0 3em 0;
}
	
	#banner
	{
		padding: 7em 0 7em 0;
	}

	.rowCat {
    	height: 461px;
    	padding-bottom: 20px;
    }

    .highlightIconStart {
        margin: 20px auto -10px auto;
        font-size: 40px;
    }
		
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin-top: 5em;
		padding-top: 2em;
	}