/*
Theme Name: CULTURE.ONE
Theme URI: http://themes.chooo.media
Author: Christopher Matt
Description: Theme developed for O3 CMS, customizable, simple, and readable. Perfect fitting Webdesign for Event, Restaurant and Artistwebsites. 
Tags: 3 column theme, white, green clean
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body, input, textarea, select {
	line-height: 1.3em;
	font-size: 16px;
	letter-spacing: 0;
}

body {
}

.highlightEvent header h3 {
	font-size: .9em;
	margin-left: -20px !important;
}
.eventCategory {
	margin: .5em auto;
}
.eventCategory header h3 a {
	font-size: .7em;
	padding: 0 .5em !important;
	margin: 1em 1em 0 0;
	background: #E3EAED;
	box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
	border-radius: 4px;
}

h3, h4, h5, h6 {
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
	margin: 0 0 1.5em 0;
	line-height: 1.625em;
}

h2 {
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
	line-height: 1.625em;
}

h2 br, h3 br, h4 br, h5 br, h6 br {
	display: none;
}

/* Sections/Article */

section, article {
	clear: both;
	margin: 1em 0 !important;
}

section > :first-child, article > :first-child {
	margin-top: 0 !important;
}

section:first-child, article:first-child {
	margin-top: 0 !important;
}

.rowCat {
    height: 403px;
	padding-bottom: 20px;
}

/* Image & Title*/

.image {
}

.image.left {
	width: 40%;
}

.image.featured {
	margin: 0 0 2em 0;
}

.cat-img header h3 {
	width: auto;
}

.cat-img-3u header h3 {
	margin: 1.625em 0 0 -1px;
	max-width: 75%;
	font-size: 1em;
}

.cat-img footer h3 {
	float:right;
	margin: 200px 0 2em 0;
}
.cat-img-3u-single {
	height: 15em;
}
.cat-img-3u-single header h3 {
	margin-top: 1.3em !important;
	max-width: 80%;
}
.cat-img-3u-single footer h3 {
	margin-top: 4.2em !important;
	font-size: 1.2em;
}
.cat-img-3u {
	height: 16.55em;
}
.eventInfoMore {
	height: auto !important;
	overflow: visible;
	margin-bottom: 1em !important;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}

/* Button */

#moreButton {
    padding: 1em 2em;
	margin: 1em 0 0 0;
	line-height: 2.5em;
	cursor: pointer;
}

.moreButtonEvent {
	margin-bottom: -10px !important;
}

.basketButton {
    margin: 0 auto;
    width: auto;
    padding: .5em 1em;
    word-wrap: break-word;
    white-space:normal;
}
.adminButton {
     margin: 1em 0;
}

.navAdmin ul li {
     padding: .15em;
     margin-right: 5px;
     float: left;
}

input[type="button"], input[type="submit"], input[type="reset"], .button {
	letter-spacing: 2px;
	font-size: 80%;
	display: block;
	padding: 1em 2em;
}

.menuButton {
    border-radius: 4px !important;
	padding-bottom: 3px;
    font-size: 14px;
	line-height: 30px;
}

/* List */

ul.links {
}

ul.links li {
	display: block;
	border: 0;
	padding: 0.25em 0 0 0;
	margin: 0;
}

ul.divided {
}

ul.divided li {
	margin: 2.75em 0 0 0;
	padding: 2.75em 0 0 0;
}

ul.icons {
	padding: 0 !important;
	margin: 0 20px 0.5em 0 !important;
	display: block;
	width: auto;
}

/* Box */

.box {
    margin-top: -20px
    !important;
}

.box.excerpt {
}

.box-excerpt .date {
	display: block;
	letter-spacing: 2px;
	padding: 0.25em 1em 0.25em 1em;
	margin: 0 auto 2.5em auto;
	text-align: center;
}

/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

#titleBar {
    position: fixed;
	background: #83a0ac;
	padding: 5px 20px 0 20px;
	z-index: 1 !important;
}

#titleBar .toggle {
	position: fixed;
    left: 20px;
    line-height: 37px;
    right: 20px;
}

#titleBar .toggle a{
	width: 33px;
	height: 50px;
}

#titleBar .toggle:before {
	width: 33px !important;
	font-family: FontAwesome;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f0c9';
	font-size: 18px;
	color: #fff;
}

#titleBar .toggle:active:before {
	opacity: 0.5;
}

#navPanel {
	background: #83a0ac;
	border-right: solid 4px #5C7D8B;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 1px;
	font-size: 0.85em;
}

#navPanel .link {
	display: block;
	color: #ddd;
	text-decoration: none;
	height: 44px;
	line-height: 44px;
	border: 0;
	padding: 0 1em 0 1em;
}

#navPanel .link:first-child {
	border-top: 0;
}

#navPanel .link.depth-0 {
	font-weight: 600;
	color: #fff;
}

#navPanel .indent-1 {
	display: inline-block;
	width: 1em;
}
#navPanel .indent-2 {
	display: inline-block;
	width: 2em;
}
#navPanel .indent-3 {
	display: inline-block;
	width: 3em;
}

#navPanel .indent-4 {
	display: inline-block;
	width: 4em;
}
#navPanel .indent-5 {
	display: inline-block;
	width: 5em;
}
#navPanel .depth-0 {
	color: #fff;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#features-wrapper {
	padding: 1em 0;
	margin-top: -10px;
}

#banner-wrapper p{
	padding: 2em 0 2em 0;
    background: none !important;
    overflow: hidden;
    text-align: center;
}

#main-wrapper {
	padding: 1.5em 20px;
	margin-top: 2em;
}

#footer-wrapper {
	padding: 1em 20px 1em 20px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
    display: block;
    height: auto;
	margin-left: 72px;
    margin-bottom: 2em;
}

#preloader {
	margin-left: -10%;
}

.mobileHome {
    display: inline-block;
}
.mobileBasket {
	max-width: 33%;
}

.headerLogin {
	padding: 0 18px;
	background: #5c7d8b;
	line-height: 43px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    margin: 43px 0 10px 0;
}

.headerUser {
    width: auto;
    padding: 1em 20px;
    color: #fff;
}

.basketCount {
        margin: -24px 0 2px 11px;
}

.rightNav {
    right: 0;
}

form {
    padding: 0;
    margin: 0px!important;
    line-height: 44px;
}

.headerLogin input{
	line-height: 2em;
	-webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.headerLogin input:first-child{
	width: 43.8%;
	line-height: 24px;
	margin-left: 20px;
}

.headerLogin input:nth-child(2){
    width: 33%;
}

.clicked {
    margin-top: -46px;
    transition: all .5s;
}

.headerLoginScroll {
	display: none;
	transition: all .5s;
}

.headerLogin input .headerLoginScroll {
	width: 41%;
	right: 0;
}

.highlight h4 {
    font-size: 18px !important;
    margin: 0;
}

.highlightEventBasket {
	-webkit-border-radius: 16px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 16px;
	-moz-border-radius-topright: 0;
	border-radius: 16px;
	border-top-right-radius: 0;
}
.basketButtonEvent {
	padding: 1.2em !important;
	margin-top: 1.1em !important;
	overflow: hidden;
	font-size: 9px !important;
	max-width: 57%;
	float: left;
}
input .basketButtonEvent value{
	text-overflow: ellipsis !important;
	word-wrap: break-word;
}

.eventBasketShare{
	float: left;
	text-align: left;
	line-height: 2.15em;
	padding: 1px 1.8em 0 1em;
	font-size: 14px !important;
	max-width: 20% !important;
	margin: 9px .5em 0 .5em;
	background: #83a0ac;
	border-radius: 4px;
	box-shadow: 0.1em 0.1em 0 0 rgba(0,0,0,0.125);
	display: block;
}

.floatMobile {
	float:left;
	max-width: 6.55em !important;
}
.onlyMobile {
	display: inline;
	margin-top: 6em !important;
}
.noDisplay {
	display:none;
}
.highlightIcon {
    margin: 20px auto 13px auto;
    font-size: 30px;
}

.highlightIconStart {
    margin: 30px auto 15px auto;;
	font-size: 40px;
}

.highlightIconBox, .highlightHeart {
	margin-left: auto;
	margin-right: auto;
	font-size: 74px;
}
.cat-img footer h3, .cat-img-3u footer h3 {
	margin-top: 4em;
	font-size: 110%;
}
.paddLeftMobile {
	padding: 0 0 0 2em;
}
.paddDock {
	line-height: 28px;
	height: 28px;
	display: block !important;
}
.paddDesk {
	padding: 0;
}
.paddLess {
    padding: 0 0 0 -20px !important;
}
.paddMore {
	padding: 0 0 0 20px;
	text-align: center;
	margin: 0 auto;
}
.paddTopRight {
	padding: 20px 0 0 1em !important;
}
.paddLeft {
	padding: 0;
}
.paddLeftMore{
	padding: 0 0 2em 0 !important;
}
.paddForm {
	padding: 0 0 20px 20px;
}
.paddText {
	padding: 0 0 0 20px;
}
.margLeft {
	margin-left: 0em;
}

.hightlightIconRotate {
    bottom: 12px;
}

.logoFix {
    width: 66px;
    background: transparent;
	max-height: auto;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -99px;
    left: 20px;
	border-radius: 0px !important;
    z-index: 10999;
}

.logoFix img {
    max-height: auto;
	z-index: 10006;
}


.headerUser a {
   font-size: 90%;
}

form input.loginForm[type="password"]{
	line-height: 24px;
}

#FormName input {
	line-height: 2em;
	font-size: 19px;
}

.social {
    position: fixed;
    width: 230px !important;
    height: 43px;
	margin: 0;
	left: 42px;
}

.social a {
	background: transparent;
	z-index: 10009;
}

.socialShingles {
    position: relative;
}

form label {
	text-align:center;
}

.social a {
    display: block;
    height: 43px;
    padding: 13px 1.25em;
}

#header {
    height: 0px !important;
}

#header h1 {
	font-size: 2em;
	letter-spacing: 8px;
	line-height: 1.25em;
}

#header p {
	margin: 1.25em 0 0 0;
	letter-spacing: 2px;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
	display: none;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	.spacer {
	margin: 0 0;
}

#banner {
	padding: 1em;
	margin: 0 !important;
}

#banner p {
	font-size: 1.75em;
	line-height: 1.25em;
	letter-spacing: 3px;
}

#banner p br {
	display: none;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

#content > section, #content > article {
	margin: 4em 0 0 0 !important;
	padding: 4em 0 0 0 !important;
}

#content > section:first-child, #content > article:first-child {
	margin: 0 !important;
	padding: 0 !important;
}

.noSpace {
	padding: 0 !important;
	margin: 0 !important;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
	border-top: solid 2px #e5e5e5;
	box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
	margin-top: 4em !important;
	padding-top: 4em !important;
}

#sidebar > section, #sidebar > article {
	margin: 4em 0 0 0 !important;
	padding: 4em 0 0 0 !important;
}

#sidebar > section:first-child, #sidebar > article:first-child {
	margin: 0 !important;
	padding: 0 !important;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
}

#footer .icons {
	margin: 0 0 2em 0 !important;
}

#footer .icons:last-child {
	margin-bottom: 0;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {

}

.highlightRow .highlight {
		margin: 25px;
		width: 30.5%;
	}