
	.highlight section header a {
		clear: both;
		color: #000;
	}

	.adminList {
		background-color: #83a0ac;
		line-height: 21px;
		color: #FFF;
		padding: 1em;
		display: inline-block;
	}

	.adminList a {
		color: #1a1a1a;
		font-weight: 500;
		text-align: left;
	}

	.adminList:nth-of-type(odd) {
		background-color:  #E3EAED;
		color: #000;
		display: inline-block;
	}

	#headerAdmin {
		background: #83a0ac none repeat scroll 0 0;
		margin: 0 auto;
        height: 42px;
		width: 100%;
		position: fixed;
		z-index: 99999;
		transition: max-height 0.25s ease-out 0s;
	}
	#navAdmin a:checked {
		color: #000;
	}
	#main-wrapper{
		background: #fff;
		color: #000;
	}
	.highlightRow .highlight {
		margin-right: 50px;
		width: 30.5%;
	}
	.highlightBox {
	    background: #E3EAED;
        box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        border-radius: 4px;
        margin: .5em 1em;
        text-overflow: ellipsis;
          white-space: nowrap;
	}

	.highlightRow .highlight:hover, .highlight section header a:hover  {
		transition: all .3s;
		background: #83a0ac;
		color: #FFF !important;
		cursor: pointer;
	}
	.adminButton {
        padding: 1em 2em !important;
        margin: 1em;
    }

	.highlightRow .highlight:nth-child(3n+0) {
		margin-right: 0px;
	}
	.rowAdmin {
	    border-bottom: 1px solid #ccc;
	}
	section footer h3 {
		margin: .5em 0;
		font-size: 125%;
	}
	#copyright{
		padding: .5em 0;
		position: fixed;
		border: 0 !important;
		bottom: 0;
		width: 100%;
	}
	.buttonAdmin {
	    padding: .5em 1em;
	}
	.social {
        position: relative !important;
        left: 0px !important;
        height: auto;
       }
	input[type=checkbox] {
		border: 0px;
		width: 100%;
		height: 1.2em;
		color: #83a0ac;
	}
	.imageLabel{
		line-height: 8rem;
	}
	.paddSpec {
		margin: -30px 20px 0 -20px;
		padding-left: 0px;
		line-height: 30px;
	}